modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43334172
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Database Server"
author = 43334172
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/database.js"

[[workflows.workflow]]
name = "Database Server"
author = 43334172
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/database.js"

[[workflows.workflow]]
name = "Test Database Connection"
author = 43334172
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node test-connection.js"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081
